.student-list{
    background: rgb(7, 150, 246);
    padding-left: 10px;
    color: white;
}
.home-container{
    margin: 15px 100px 15px 100px;
    border: 1px solid rgb(7, 150, 246);
}
.add{
    background: rgb(7, 150, 246);
    margin: 0 0 10px 25px;
    border: none;
    outline: none;
    color: white;
}
.edit{
    background: rgb(7, 150, 246);
    margin: 0 0 10px 25px;
    border: none;
    outline: none;
    color: white;
}
.delete{
    background: rgb(242, 28, 81);
    margin: 0 0 10px 25px;
    border: none;
    outline: none;
    color: white;
}