.main-container{
    /* background: rgb(7, 214, 138); */
    height: 100vh;
    padding: 5rem 0;
    color:#060b26;
    
  }
  .center-item{
    display: flex;
    justify-content: center;
  }
  
  .align-end{
    text-align: end;
  }
  .align-start{
    text-align: start;
  }
  
  @media (max-width: 768px) {
    .main-container {
      height: 100%;
    }
    .align-end{
      text-align: center;
    }
    .align-start{
      text-align: center;
    }
  }
  